[defaults]

inventory = inventory.ini

log_path = logs/application_consistency.log

bin_ansible_callbacks = True

display_skipped_hosts = False

host_key_checking = False

retry_files_enabled = False

timeout = 30
